body {
  font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
  font-size: 13px;
}

[class^="col-offset"] {
  height: 1vw;
}
[class^="col-"] {
  position: relative;
}


/* Start header */

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #FFFFFF;
}
/* top nav */
.container-nav {
  line-height: 50px;
}
.container-nav img {
  vertical-align: middle;
  margin-left: 1vw;
}


/* position 'ul' inside 'nav' */
nav ul {
  float: right;
  list-style: none;
}
.display-hamburger {
  display: none;
}
nav ul li {
  display: inline-block;
}
/* margin and padding for 'a' and 'li' inside 'nav' */
/* first ul in nav */
nav ul:first-child li:first-child a {
  padding-left: 2vw;
  padding-right: 1vw;
}
nav ul:first-child li:nth-child(n + 2) a {
  padding-left: 1vw;
  padding-right: 1vw;
}
nav ul:first-child li:nth-child(-n + 3) a {
  border-right: 1px solid black;
}
/* second ul in nav */
nav ul:nth-child(2) li:nth-child(n+2) {
  margin-left: 2vw;
}

/* general rule for links inside nav */
nav ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}
nav ul li a:hover {
  text-decoration: underline;
}

/* End header */


/* First section */

.fs-section {
  position: relative;
  margin-top: 50px;
}
#jumbotron {
  width: 100%;
  height: auto;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 70%;
  text-align: center;
  color: #FFFFFF;
}
.title h1 {
  font-size: 3.5em;
}
.title p {
  font-size: 1.2em;
  padding: 2vw 0 1vw;
}

/* End first section */


/* Start second section */

.snd-section {
  max-width: 1300px;
  margin: 2vw auto 2vw;
  text-align: center;
}
.box-gray {
  padding: 20px;
  margin: 0 1vw;
  background-color: #FAFAFA;
}
.snd-section [class*="col-"] img {
  display: block;
  width: 40%;
  margin: 2vw auto 0;
}
.snd-section [class*="col-"] h1 {
  font-size: 2.5em;
  font-weight: 600;
}
.snd-section [class*="col-"] p {
  font-size: 1.9em;
  margin: 2vw 0;
  font-weight: 400;
}
.snd-section [class*="col-"] a {
  font-size: 1.3em;
  text-decoration: none;
  font-weight: 600;
}

/* End second section */


/* Start third section */

.trd-section {
  position: relative;
  background-image: url(../img/HelbizBanner.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.trd-section img {
  display: block;
  margin: 0 auto;
  width: 25vw;
  padding-top: 12vw;
}
.trd-section p {
  font-size: 1.2em;
  font-weight: 600;
}
.caption-left {
  margin-top: 40vw;
  margin-left: 15vw;
}
.caption-right {
  margin-top: 40vw;
}

/* End third section */


/* Start fourth section */

.fourth-section {
  width: 90%;
  height: 35vw;
  margin: 2vw auto 0;
  background-image: url(../img/ScooterHelbiz-2400.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;

}
.fourth-section .col-lg-3 {
  text-align: center;
  color: white;
  padding: 7vw 2vw;
}
.fourth-section .col-lg-3 h1 {
  font-size: 2.1vw;
}
.fourth-section .col-lg-3 p {
  margin: 2vw 0;
  font-size: 1.5vw;
}
.fourth-section .col-lg-3 a {
  font-size: 1.6vw;
  color: white;
  text-decoration: none;
}

/* End fourth section */


/* Start fifth section */
.fifth-section {
  width: 90%;
  margin: 2vw auto;
  color: white;
  text-align: center;
}
.fifth-section h1 {
  padding-top: 2vw;
  font-size: 2.3em;
  font-weight: 600;
}
.fifth-section p {
  margin: 2vw 0;
  font-size: 1.4em;
  font-weight: 600;
}
.fifth-section a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5em;
}
.box-blue {
  height: 30vw;
  margin-right: 1vw;
  background-color: #285869;
  background-image: url(../img/HelbiZAPP.png);
  background-size: 100% auto;
  background-position: 0px 150px;
  background-repeat: no-repeat;
}
.box-img {
  height: 30vw;
  margin-left: 1vw;
  background-image: url(../img/Cities-1500.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.fifth-section .col-lg-6:first-child img {
  display: block;
  margin: 0 auto;
  width: 70%;
}

/* End fifth section */


/* Start sixth section */

.sixth-section {
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: url(../img/Social-Banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2vw;
}
.family {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  width: 30%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.social h1 {
  font-size: 2em;
  margin-bottom: 0.5vw;
}
.social a:nth-child(-n + 4) i{
  margin-right: 1.5vw;
}

.sixth-section .social span {
  color: black;
}
/* End sixth section */

/* Start footer Section */

.footer-section {
  background-color: black;
  color: white;
}
.contacts-container {
  position: relative;
  width: 65%;
  margin: 0 auto;
}
.footer-section .contacts-container{
  padding-top: 5vw;
}
.footer-section .container-fluid {
    border-bottom: 1px solid #AAAAAA;
}
.contacts-container #first {
  padding-bottom: 2vw;
}
.contacts-container img {
  width: 50%;
}
.footer-section h2 {
  font-size: 1em;
  margin: 1vw 0 1.5vw;
}
.footer-section ul {
  list-style: none;
}
.footer-section ul li {
  margin-bottom: 1vw;
}
.footer-section a {
  text-decoration: none;
  color: #AAAAAA;
}
.footer-section a:hover {
  text-decoration: underline;
}
.social-contacts {
  line-height: 6vw;
  vertical-align: middle;
}
.footer-section span {
  color: white;
  vertical-align: middle;
}
.footer-section .social-contacts .col-lg-3:first-child span:nth-child(-n + 4) {
  display: inline-block;
  margin-right: 1vw;
}
.footer-section .social-contacts  a {
  color: white;
}
.apps {
  line-height: 5vw;
  text-align: center;
}
.apps img {
  width: 15%;
  vertical-align: middle;
}
/* End footer Section */


@media screen and (max-width: 992px) and (min-width: 769px) {
  body {
    font-size: 10px;
  }
  .display-md-none {
    display: none;
  }
  /* top nav */
  .display-hamburger {
    display: block;
    margin-right: 3vw;
  }
  .display-hamburger i {
    vertical-align: middle;
  }

  /* third section */
  .trd-section {
    background-image: url(../img/HelbizBanner.jpg);
    background-size: auto 50%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
  }
  .trd-section img {
    width: 60%;
    padding-top: 20vw;
  }

  /* fifth section */

  .box-blue {
    background-position: 0px 120px;
  }

  /* footer */
  .contacts-container img {
    width: 60%;
  }
  .contacts-container a {
    font-size: 1.3em;
  }
  .footer-section h2 {
    font-size: 1.4em;
    margin: 1vw 0 1.5vw;
  }
  .apps img {
    width: 20%;
    vertical-align: middle;
  }

  .social-contacts {
    text-align: center;
    margin: 2vw 0;
  }

}

@media screen and (max-width: 768px) {

  body {
    font-size: 2.7vw;
  }
  .display-xs-none {
    display: none;
  }
  /* top nav */
  .display-hamburger {
    display: block;
    margin-right: 3vw;
  }
  .display-hamburger i {
    vertical-align: middle;
  }
  .container-nav {
    line-height: 40px;
  }

  /* First section */
  .fs-section {
    position: relative;
    margin-top: 40px;
  }
  #jumbotron {
    width: 100%;
    height: 80vw;
    object-fit: cover;
  }
  .fs-section img {
    width: 20%;
    height: auto;
  }
  .title {
    width: 100%;
  }
  .title h1 {
    font-size: 2em;
  }
  .title p {
    font-size: 1.3em;
  }

  /* Second section */

  .snd-section .col-xs-12 {
    margin-bottom: 3vw;
  }


  /* Third section */
  .trd-section {
    background-image: url(../img/HelbizBanner.jpg);
    background-size: auto 50%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
  }
  .trd-section img {
    width: 60%;
    padding-top: 20vw;
  }

  /* Fourth Section */
  .fourth-section {
    height: 50vw;
    background-size: auto 100%;
    background-position: cover;
  }
  .fourth-section .col-lg-3 h1 {
    font-size: 4vw;
  }
  .fourth-section .col-lg-3 p {
    font-size: 3vw;
  }
  .fourth-section .col-lg-3 a {
    display: block;
    font-size: 3.2vw;
    margin-top: 5vw;
  }

  /* Start fifth section */
  .fifth-section {
    width: 90%;
    margin: 2vw auto;
    color: white;
    text-align: center;
  }

  .box-blue {
    height: 50vw;
    margin: 0 0 3vw 0;
    background-position: 0px -200%;
  }
  .box-img {
    height: 50vw;
    margin: 0;
  }
  .fifth-section .col-lg-6:first-child img {
    display: block;
    margin: 0 auto;
  }

  /* Sixth section */

  .family {
    background-color: rgba(255, 255, 255, 0.7);
    width: 70%;
    transform: translate(-50%, -50%);
  }
  .social h1 {
    font-size: 3em;
    margin-bottom: 3vw;
  }
  .social a:nth-child(-n + 4) i{
    margin-right: 4vw;
  }


  /* footer */
  .contacts-container {
    width: 80%;
    text-align: center;
  }
  .footer-section .contacts-container{
    padding-top: 5vw;
  }
  .footer-section .container-fluid {
      border-bottom: none;
  }
  .contacts-container #first {
    padding-bottom: 4vw;
    border-bottom: 1px solid #AAAAAA;
  }
  .contacts-container #first img {
    display: block;
    width: 30%;
    margin: 0 auto 4vw;
    padding-bottom: 3vw;
    border-bottom: 1px solid #AAAAAA;
  }
  .footer-section ul li {
    margin-bottom: 2vw;
  }
  .social-contacts {
    line-height: 6vw;
    vertical-align: middle;
  }
  .social-contacts .col-xs-12 {
    margin: 3vw 0 2vw;
  }
  .footer-section .social-contacts .col-lg-3:first-child span:nth-child(-n + 4) {
    display: inline-block;
    margin-right: 1vw;
  }
  .apps {
    line-height: 15vw;
  }
  .apps img {
    width: 30%;
  }
  /* End footer Section */

}
